
*.log
*.obj
*.iobj
*.recipe
*.db
st3play/vs2019_project/.vs/st3play/v16/.suo
*.tlog
st3play/vs2019_project/x64/Release/st3play.vcxproj.FileListAbsolute.txt
*.db-shm
*.db-wal
*.opendb
*.ipch
st3play/vs2019_project/debug.s3m
st3play/vs2019_project/x64/Debug/st3play.vcxproj.FileListAbsolute.txt
st3play/vs2019_project/x64/Debug/st3play.exe
*.ilk
*.pdb
*.idb
st3play/vs2019_project/Debug/st3play.vcxproj.FileListAbsolute.txt
*.exe
*.wav
*.it
st3play/vs2019_project/Release/st3play.vcxproj.FileListAbsolute.txt
*.s3m
