
*.log
*.obj
*.iobj
*.recipe
*.db
*.tlog
*.db-shm
*.db-wal
*.opendb
*.ipch
*.ilk
*.pdb
*.idb
*.exe
*.wav
*.s3m
st3play/vs2019_project/.vs/st3play/v16/.suo
st3play/vs2019_project/x64/Debug/st3play.vcxproj.FileListAbsolute.txt
st3play/vs2019_project/x64/Release/st3play.vcxproj.FileListAbsolute.txt
st3play/vs2019_project/Debug/st3play.vcxproj.FileListAbsolute.txt
st3play/vs2019_project/Release/st3play.vcxproj.FileListAbsolute.txt
